[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Burton
	email = burton.wang0404@gmail.com
[gui]
	recentrepo = C:/Users/AERO 14/Documents/GitHub/IN2ACT.github.io
